{#
name: "Drobečková navigace"
purge-css-keep:
  - component-breadcrumb
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'breadcrumb',
  'id': content.wrapper_id,
  'classes': [
    'my-8 md:my-12',
    content.background ? 'bg-gray-100' : '',
    content.wrapper_classes
  ],
  'container': content.container|default('container'),
} %}
{% block content %}
{% if content.items is not empty %}
<nav role="navigation" class="max-sm:sr-only">
  <ol class="flex items-center space-x-4" itemscope itemtype="http://schema.org/BreadcrumbList">
    {% for item in content.items %}
      <li class="text-gray-800 font-medium" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"{{loop.last ? ' aria-current="page"'}}>
        <div class="flex items-center">
          {% if not loop.first %}
            <div class="flex-shrink-0 h-5 w-2 mr-4 text-gray-800">
              /
            </div>
          {% endif %}
          {% if loop.last %}
            <span class="current" itemscope itemtype="http://schema.org/Thing" itemprop="item" id="breadcrumb-item-{{ loop.index }}">
              <span itemprop="name">
                {{- item.title -}}
              </span>
            </span>
            <meta itemprop="position" content="{{ loop.index }}" />
            <meta itemprop="@id" content="{{ item.url }}" />
          {% else %}
            <a href="{{ item.url }}" class="hover:text-black" itemscope itemtype="http://schema.org/Thing" itemprop="item" id="breadcrumb-item-{{ loop.index }}">
              <span itemprop="name">
                {{ item.title }}
              </span>
            </a>
            <meta itemprop="position" content="{{ loop.index }}" />
            <meta itemprop="@id" content="{{ item.url }}" />
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ol>
</nav>
{% endif %}
{% endblock %}
