{#
name: "Obsah: text + obrázek"
#}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'content-image-text',
  'id': content.wrapper_id,
  'classes': content.background ? (content.wrapper_classes ~ ' bg-gray-100')|trim : content.wrapper_classes,
  'container': 'container py-8 md:py-12 lg:py-16',
} %}
{% block content %}
{% if content.text is not empty %}
  <div class="lg:flex {% if content.reversed %}lg:flex-row-reverse{% endif %} lg:items-center">
    <div class="lg:w-1/2 {% if content.reversed %}lg:pl-16{% else %}lg:pr-16{% endif %}">
      <div class="max-w-prose mx-auto">
        <h2 class="text-3xl sm:text-4xl font-semibold text-gray-900 tracking-tight">
          {{ content.heading.heading|typography }}
        </h2>
        {% if content.text is not empty %}
        <div class="mt-6 sm:mt-8 prose prose-lg text-gray-600">
          {{ content.text|typography }}
        </div>
        {% endif %}
        {% if content.button %}
        <div class="flex mt-10 md:mt-12">
          <a href="{{ content.button.url }}" class="btn btn-primary">
            {{ content.button.text }}
          </a>
        </div>
        {% endif %}
      </div>
    </div>

    {% if content.image is not empty %}
    <div class="lg:w-1/2 mt-10 -mx-4 lg:mt-0" aria-hidden="true">
      <div class="relative bg-white">
        {% if content.image is not empty %}
          {{ component_picture({
            image: content.image,
            image_classes: 'w-full h-full object-cover object-center max-h-[80vh]'
          }) }}
        {% endif %}
      </div>
    </div>
    {% else %}
      {{ component_alert({
        type: 'error',
        message: __('Není zadán obrázek bloku', 'starter_theme')
      }) }}
    {% endif %}
  </div>
{% else %}
  {{ component_alert({
    type: 'error',
    message: __('Není zadán text bloku', 'starter_theme')
  }) }}
{% endif %}
{% endblock %}
