{#
name: "Aktuality - položka"
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'news-teaser',
  'classes': [
    content.wrapper_classes,
  ],
} %}

{% block content %}
<div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-6 text-black">
  {% if content.image %}
  <div>
    {{ component_picture({
      image: content.image,
      url: content.link.url,
      image_classes: 'w-40 object-cover'
    }) }}
  </div>
  {% endif %}
  {% if content.link %}
  <a href="{{ content.link.url }}" target="{{ content.link.target }}" class="block relative group">
  {% endif %}
    <div class="space-y-2 max-w-3xl sm:py-2">
      <div class="group-hover:text-primary transition-colors duration-150 ease-in-out">
        <div class="flex justify-between">
        {% if content.link.url.title %}
          <div class="text-3xl sm:text-4xl font-semibold">
            {{ content.link.url.title|typography }}
          </div>
        {% elseif content.title %}
          <div class="text-3xl sm:text-4xl font-semibold">
            {{ content.title|typography }}
          </div>
        {% endif %}
        {% if content.link %}
          <div class="w-8 h-8">
            {{ icons.get('external-link') }}
          </div>
        {% endif %}
        </div>
      </div>
      {% if content.description %}
        <div class="text-xl">{{ content.description|typography }}</div>
      {% endif %}
    </div>
  {% if content.link %}
  </a>
  {% endif %}
</div>
{% endblock %}
