{#
name: "Aktuality - položka"
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'news-teaser',
  'classes': [
    content.wrapper_classes,
  ],
} %}

{% block content %}
<div class="max-w-screen-sm text-grey-900">
  <div class="aspect-[16/9] w-full object-cover sm:aspect-[2/1] lg:aspect-[3/2] bg-gray-200">
    <div>
      {{ component_picture({
        image: content.image,
        url: content.link.url,
        image_classes: 'aspect-[16/9] w-full object-cover sm:aspect-[2/1] lg:aspect-[3/2]'
      }) }}
    </div>
  </div>
  {% if content.link.url %}
  <a href="{{ content.link.url }}" target="{{ content.link.target }}" class="block relative group">
  {% endif %}
    <div class="space-y-2 pt-6">
      <div class="group-hover:text-primary transition-colors duration-150 ease-in-out">
        <div class="flex justify-between">
        {% if content.link.url.title %}
          <div class="text-lg font-bold">
            {{ content.link.url.title|typography }}
          </div>
        {% elseif content.title %}
          <div class="text-lg font-bold">
            {{ content.title|typography }}
          </div>
        {% endif %}
        {% if content.link.url %}
          <div class="w-6 h-6">
            {{ icons.get('external-link') }}
          </div>
        {% endif %}
        </div>
      </div>
      {% if content.description %}
        <div class="prose">{{ content.description|typography }}</div>
      {% endif %}
    </div>
  {% if content.link.url %}
  </a>
  {% endif %}
</div>
{% endblock %}
