<!doctype html>
<html class="h-full no-js" lang="cs" prefix="og: https://ogp.me/ns#">
  <head>
    <script>document.documentElement.classList.remove('no-js');</script>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ templateUrl }}/images/touch/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ templateUrl }}/images/touch/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ templateUrl }}/images/touch/favicon-16x16.png">
    <link rel="manifest" href="{{ templateUrl }}/images/touch/site.webmanifest">
    <link rel="mask-icon" href="{{ templateUrl }}/images/touch/safari-pinned-tab.svg" color="#fb4842">
    <link rel="shortcut icon" href="{{ templateUrl }}/images/touch/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="{{ templateUrl }}/images/touch/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="{{ templateUrl }}/humans.txt" />
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>{{ styleguide.html_title|default("Styleguide") }}</title>
    <link rel="stylesheet" href="{{ templateUrl }}/fonts/anonymous-pro/stylesheet.css?{{ 'now'|date('U') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ templateUrl }}/dist/css/style.css?{{ 'now'|date('U') }}" type="text/css" media="screen" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='robots' content='noindex,nofollow' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="h-full styleguide">
    {% block content %}
      Sorry, no content
    {% endblock %}
    <script src="{{ templateUrl }}/dist/js/script.js?{{ 'now'|date('U') }}" async="true"></script>
  </body>
</html>
