{#
name: "Download - list"
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'download-list',
  'id': content.wrapper_id,
  'classes': [
    content.inner ? '' : 'my-8 sm:my-10 lg:my-12',
    content.wrapper_classes,
  ],
  'container': content.inner ? '' : 'container',
  'heading': content.heading,
} %}
{% block content %}
  {% if content.items|length %}
    <div class="max-w-(--breakpoint-md) mx-auto">
      <ul role="list" class="space-y-4">
        {% for item in content.items %}
          <li class="max-w-80">
            {% if item.url is not empty %}
              <a download href="{{ item.url }}" target="_blank" class="group">
            {% endif %}
              <div class="relative py-2.5 px-5 border-l-2 border-primary flex items-center justify-between transition-colors before:block before:content-[''] before:absolute before:inset-0 before:h-full before:bg-primary before:w-full before:scale-x-0 group-hover:before:scale-x-100 before:transition before:duration-200 before:origin-left">
                <div class="isolate flex-1 flex items-center">
                  <span class="sr-only">{{ __("Download", "kontrapunkt") }}</span>
                  <span class="flex-1 truncate">
                    {% if item.title %}
                      {{ item.title }}
                    {% else %}
                      {{ __("Unnamed", "kontrapunkt") }}
                    {% endif %}
                  </span>
                </div>
                <div class="isolate shrink-0 inline-block h-6 text-black transition-colors">
                  {{ icons.get('paper-clip')}}
                </div>
              </div>
            {% if item.url is not empty %}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}
