{#
name: "Article teaser"
#}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'article-teaser',
  'id': 'article-teaser-' ~ content.id,
} %}
{% block content %}
  <a href="{{ content.url }}" class="block text-primary hover:text-orange-700 transition-colors ease-in duration-150">
    <h2 class="text-2xl md:text-3xl lg:text-4xl mb-4 md:mb-8 font-bold uppercase">
      {{- content.title|typography -}}
    </h2>
  </a>
  <div class="flex w-full flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-8">
    <div class="w-full md:w-2/5 shrink-0 overflow-hidden">
      {% if content.image %}
        <a href="{{ content.url }}" class="block">
          {% include '@component/picture/picture.twig'
              with {
                content: {
                  image: content.image,
                  image_classes: 'w-full'
                }
              }
            %}
        </a>
      {% endif %}
    </div>
    <div class="flex flex-col md:min-h-full md:w-3/5 md:justify-between">
      <p class="text-lg">{{- content.anotation|typography -}}</p>
      <div class="flex items-center justify-between mt-4 md:mt-6 lg:mt-8">
        {% if content.created is not empty %}
          <span class="text-lg font-bold">{{ content.created|date("j. n. Y") }}</span>
        {% endif %}
        <a href="{{ content.url }}" class="text-lg text-primary underline hover:text-orange-700 hover:no-underline transition-colors ease-in duration-150">
        <span>
          Číst dál
        </span>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
