{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'contact-form',
  'id': content.wrapper_id,
  'classes': [
    content.background ? 'bg-gray-100' : '',
    content.wrapper_classes
  ],
  'container': 'container relative py-12 md:py-20 lg:py-24',
  'heading': content.heading,
} %}
{% block content %}
{% if content.people|length %}
  <div class="pb-12 lg:pb-16 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-2 gap-12">
  {% for item in content.people %}
    {% if item.name is not empty %}
      <div class="flex flex-col md:flex-row md:items-center">
        {% if item.image %}
          {% include '@component/picture/picture.twig'
            with {
              content: {
                image: item.image,
                image_classes: 'img-highlight w-40 h-40 lg:h-48 lg:w-48 xl:h-56 xl:w-56 object-cover'
              }
            }
          %}
        {% endif %}
        <div class="mt-8 md:mt-0 md:ml-8 lg:ml-12">
          <div class="text-2xl font-bold">{{- item.name -}}</div>
          {% if item.role is not empty %}
            <div class="text-lg mt-2">
              {{- item.role -}}
            </div>
          {% endif %}
          {% if item.phone is not empty %}
            <div class="text-lg mt-8">
              <a href="tel:{{ item.phone }}" class="flex items-center group">
                <div class="w-12 h-6 text-primary group-hover:text-orange-700 transition-colors ease-in-out duration-150">
                  {{ icons.get('phone') }}
                </div>
                {{- item.phone -}}
              </a>
            </div>
          {% endif %}
          {% if item.email is not empty %}
            <div class="text-lg mt-2">
              <a href="mailto:{{ item.email }}" class="flex items-center group">
                <div class="w-12 h-5 text-primary group-hover:text-orange-700 transition-colors ease-in-out duration-150">
                  {{ icons.get('mail') }}
                </div>
                {{- item.email -}}
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
  </div>
{% endif %}
{% if content.banner.text is not empty %}
  {% if content.banner.image %}
    {% include '@component/picture/picture.twig'
      with {
        content: {
          image: content.banner.image,
          image_classes: 'w-full h-auto mb-8 md:mb-12 lg:mb-16'
        }
      }
    %}
  {% endif %}
  <div class="prose prose-lg prose-primary max-w-none mb-8 md:mb-12 lg:mb-16">
    {{- content.banner.text|typography -}}
  </div>
{% endif %}

{% if content.form %}
  {{ content.form|raw }}
{% endif %}

{% endblock %}
