{% set content = {
  "items_base": [
    {
      "icon": "base-arrow",
      "perex": "Šipka"
    },
    {
      "icon": "base-dropdown",
      "perex": "Dropdown pro selekt"
    },
    {
      "icon": "base-close",
      "perex": "Zavřít"
    },
    {
      "icon": "base-minus",
      "perex": "Mínus"
    },
    {
      "icon": "base-plus",
      "perex": "Plus"
    },
    {
      "icon": "base-search",
      "perex": "Vyhledávání"
    },
    {
      "icon": "base-user",
      "perex": "Uživatel"
    },
  ],
  "items_list": [
    {
      "icon": "bullet-circle",
      "perex": "Seznam základní"
    },
    {
      "icon": "bullet-circle-check",
      "perex": "Seznam check"
    },
  ],
  "items_soc": [
    {
      "icon": "social-facebook",
      "perex": "facebook"
    },
    {
      "icon": "social-instagram",
      "perex": "instagram"
    },
    {
      "icon": "social-youtube",
      "perex": "youtube"
    },
    {
      "icon": "social-linkedin",
      "perex": "Linkedin"
    },
  ],
  "items_contact": [
    {
      "icon": "contact-map",
      "perex": "Kontakt - adresa"
    },
    {
      "icon": "contact-email",
      "perex": "Kontakt - email"
    },
    {
      "icon": "contact-phone",
      "perex": "Kontakt - telefon"
    },
  ],
  "items_custom": [
    {
      "icon": "custom-play",
      "perex": "Play"
    },
  ]
} %}
{% import '@macro/icons/icons.twig' as icons %}
<div class="page-wrapper page-icons">
  <div class="container">
    <h1>Výpis ikon</h1>
    <h2 class="h3">Základní ikony</h2>
    <div class="row">
      {% for item in content.items_base %}
        <div class="col-md-2 mb-4">
          {{ icons.get(item.icon) }}
          <p class="mt-3">{{ item.perex }}</p>
        </div>
      {% endfor %}
    </div>
    <h2 class="h3">Ikony odrážek</h2>
    <div class="row">
      {% for item in content.items_list %}
        <div class="col-md-2 mb-4">
          {{ icons.get(item.icon) }}
          <p class="mt-3">{{ item.perex }}</p>
        </div>
      {% endfor %}
    </div>
    <h2 class="h3">Ikony sociálních sítí</h2>
    <div class="row">
      {% for item in content.items_soc %}
        <div class="col-md-2 mb-4">
          {{ icons.get(item.icon) }}
          <p class="mt-3">{{ item.perex }}</p>
        </div>
      {% endfor %}
    </div>
    <h2 class="h3">Ikony kontaktu</h2>
    <div class="row">
      {% for item in content.items_contact %}
        <div class="col-md-2 mb-4">
          {{ icons.get(item.icon) }}
          <p class="mt-3">{{ item.perex }}</p>
        </div>
      {% endfor %}
    </div>
    <h2 class="h3">Ikony na zakázku</h2>
    <div class="row">
      {% for item in content.items_custom %}
        <div class="col-md-2 mb-4">
          {{ icons.get(item.icon) }}
          <p class="mt-3">{{ item.perex }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
