{#
name: "Contact - list"
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'contact-list',
  'id': content.wrapper_id,
  'classes': [
    content.inner ? '' : 'mt-8 mb-12 sm:mt-10 sm:mb-16 lg:mt-12 lg:mb-24',
    content.wrapper_classes,
  ],
  'container': content.inner ? '' : 'container',
  'heading': content.heading,
} %}

{% block content %}
{% if content.items is not empty %}
  <div class="max-w-(--breakpoint-md) mx-auto">
    <dl class="leading-7 space-y-4 text-gray-700">
      {% for item in content.items %}
        <div>
          {% if item.type == 'email' %}
            <dt class="sr-only">{{ __('Email', 'kontrapunkt') }}</dt>
            <dd class="flex gap-3">
              <div class="h-6 w-6 mt-1 sm:mt-0 sm:h-8 sm:w-8 shrink-0 text-gray-900">{{ icons.get('email') }}</div>
              <a class="underline hover:no-underline text-gray-700 hover:text-gray-900 break-all" href="mailto:{{ item.value_simple }}">
                {{ item.value_simple }}
              </a>
            </dd>
          {% elseif item.type == 'phone' %}
            <dt class="sr-only">{{ __('Phone', 'kontrapunkt') }}</dt>
            <dd class="flex gap-3">
              <div class="h-6 w-6 mt-1 sm:mt-0 sm:h-8 sm:w-8 shrink-0 text-gray-900">{{ icons.get('phone') }}</div>
              <a class="underline hover:no-underline text-gray-700 hover:text-gray-900" href="tel:{{ item.value_simple }}">{{ item.value_simple }}</a>
            </dd>
          {% elseif item.type == 'address' %}
            <dt class="sr-only">{{ __('Address', 'kontrapunkt') }}</dt>
            <dd class="flex gap-3">
              <div class="h-6 w-6 mt-1 sm:mt-0 sm:h-8 sm:w-8 shrink-0 text-gray-900">{{ icons.get('location') }}</div>
              <div>{{ item.value_wysiwyg|typography }}</div>
            </dd>
          {% elseif item.type == 'bank' %}
            <dt class="sr-only">{{ __('Bank details', 'kontrapunkt') }}</dt>
            <dd class="flex gap-3">
              <div class="h-6 w-6 mt-1 sm:mt-0 sm:h-8 sm:w-8 shrink-0 text-gray-900">{{ icons.get('bank') }}</div>
              <div>{{ item.value_wysiwyg|typography }}</div>
            </dd>
          {% endif %}
        </div>
      {% endfor %}
    </dl>
  </div>
{% endif %}
{% endblock %}
