{#
name: "Event - header"
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'event-header',
  'id': content.wrapper_id,
  'classes': [
    content.inner ? '' : 'my-8 sm:my-10 lg:my-12',
    content.wrapper_classes,
  ],
  'container': content.inner ? '' : 'container',
  'heading': content.heading,
} %}

{% block content %}
{% if content.title %}
  <div class="space-y-8">
    <div class="space-y-4">
      <h1 class="font-bold leading-tight text-2xl sm:text-3xl text-gray-950">{{ content.title|typography }}</h1>
      {# location #}
      {% if content.location %}
        <dl>
          <dt class="sr-only">{{ __("Location", "kontrapunkt") }}</dt>
          <dd class="text-lg sm:text-xl text-gray-600">{{ content.location|typography }}</dd>
        </dl>
      {% endif %}
      {# date #}
      {{ component_event_datetime({
        date_start: content.date_start,
        date_end: content.date_end,
        time_start: content.time_start,
        time_end: content.time_end,
      }) }}
    </div>
    <div class="flex flex-col gap-8 sm:flex-row-reverse">
      <div class="grow space-y-6">
        {% if content.perex %}
          <div class="prose prose-primary prose-lg">{{ content.perex|typography }}</div>
        {% endif %}
        {% if content.contact_list and content.contact_list.items|length %}
          <div>
            {{ component_contact_list({
            heading: {
              heading: __("Book tickets", "kontrapunkt"),
            },
            items: content.contact_list.items,
            }) }}
          </div>
        {% endif %}
      </div>
      {% if content.image %}
        <div class="js-gallery w-full shrink-0 sm:w-48 lg:w-60">
          {{ component_picture({
            image: content.image|resizer(['750', '500', '1024', ''], ['600', '400', '640', ''], ['750', '500', '', '']),
            url: content.image.0.src,
            image_classes: 'w-full rounded-xl',
            link_lightbox: true,
          }) }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
{% endblock %}
