{#
name: "Kontakt"
styleguide:
  content:
    heading:
      heading: "Kontakt"
    description: "Rádi od vás uslyšíme! Pokud máte jakékoliv dotazy, komentáře nebo nápady ohledně našich produktů či služeb, neváhejte nás kontaktovat.<br />Naše přátelská zákaznická podpora je k dispozici během našich pracovních hodin."
    address: "10 Downing St,<br />London SW1A 2AA, UK"
    email: "info@schulzfest.com"
    phone: "+420 987 654 321"
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'contact',
  'classes': [
    content.wrapper_classes,
  ],
  'container': content.inner ? '' : 'container',
  'heading': content.heading,
} %}

{% block content %}
{% if content.description %}
  <div class="text-lg sm:text-2xl text-gray-800 mb-8 max-w-prose">
    {{ content.description|typography }}
  </div>
{% endif %}
  <dl class="mt-8 sm:mt-10 text-lg sm:text-xl text-gray-600">
    <div>
      <dt class="sr-only">{{ __('Poštovní adresa', 'kontrapunkt') }}</dt>
      <dd class="flex items-center gap-3">
        <div class="h-8 text-gray-400">{{ icons.get('location') }}</div>
        {{ content.address|typography }}
      </dd>
    </div>
    {% if content.phone %}
    <div class="mt-6">
      <dt class="sr-only">{{ __('Telefonní číslo', 'kontrapunkt') }}</dt>
      <dd class="flex items-center gap-3">
        <div class="h-8 text-gray-400">{{ icons.get('phone') }}</div>
        <span>{{ content.phone }}</span>
      </dd>
    </div>
    {% endif %}
    {% if content.email %}
    <div class="mt-3">
      <dt class="sr-only">{{ __('E-mail', 'kontrapunkt') }}</dt>
      <dd class="flex items-center gap-3">
        <div class="h-8 text-gray-400">{{ icons.get('email') }}</div>
        <a class="underline hover:no-underline" href="mailto:{{ content.email }}">
          <span>{{ content.email }}</span>
        </a>
      </dd>
    </div>
    {% endif %}
  </dl>
{% endblock %}
